/* colors */
:root {
    /* font variables */

    --fontMontserrat: 'Montserrat', sans-serif;
    --fontRoboto: 'Roboto', sans-serif;
    --fontKaushan: 'Kaushan Script', cursive;

    /* color variables */
    --colorWhite: #fff;
    --colorYellow: #fce38a;
    --colorDark: #333;
    --colorGray: #999;
    --colorLightGray: #f8f8f8;
    --colorMint: #95e1d3;
    --colorRed: #f38181;
    --colorOrange: #f38181;
}
